.backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    top: 0;
    transition: opacity 1000ms var(--cubic), visibility 1000ms var(--cubic);
    overflow: scroll;
    opacity: 1;
}

.modal {
    // width: 528px;
    // min-height: 581px;
    overflow: auto;
    min-width: 100%;
    max-height: 550px;
    background: var(--white);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transform: translate(-50%, -50%) scaleX(1);
    top: 50%;
    left: 50%;
    position: absolute;
    transition: transform 1000ms var(--cubic);
    padding: 25px;
    .backdrop.is-hidden & {
        transform: translate(-50%, -50%) scaleX(1.5);
    }

    @include mobile {
            min-width: 450px;
            max-height: 609px;
            padding: 40px;
        }

    @include desktop {
            width: 528px;
            min-height: 581px;
        }
}


.close-dtn {
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    background: var(--white);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    position: absolute;
    right: 8px;
    top: 8px;
    &:hover,
    &:focus {
        fill: var(--accent);
}
}

.close-icon {
    fill: currentColor;
}


.modal-title {
    font-weight: 700;
        font-size: 20px;
        line-height: calc(30 / 20);
        text-align: center;
        letter-spacing: 0.03em;
    color: var(--black);
    margin-bottom: 8px;
    // flex-wrap: wrap;
        @include mobile {
            margin-bottom: 12px;
            font-weight: 700;
                font-size: 20px;
                line-height: calc(30 / 20);
                text-align: center;
                letter-spacing: 0.03em;
        }
    
        @include desktop {
            font-weight: 700;
            font-size: 20px;
            line-height: calc(23/20);
            text-align: center;
            letter-spacing: 0.03em;
}
}

.modal-label {
    margin-bottom: 10px;
    display: flex;
        flex-direction: column;

        &:nth-of-type(4n) {
                margin-bottom: 20px;
            }
}



.label-title {
    display: inline-block;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: calc(14/12);
    letter-spacing: 0.01em;
    color: var(--secondary-text-color);

}

.input-wrap {
    position: relative;
}

.modal-icon {
    position: absolute;
    // left: 12px;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 11px;
    fill: currentColor;
    transition: fill 250ms var(--cubic);
    .modal-input:focus+& {
    fill: var(--accent);
}
}

.modal-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    display: block;
    background-color: transparent;
    font-size: 14px;
    color: var(--black);
    outline: transparent;
    // padding-left: 42px;
    transition:
        color var(--time) var(--cubic),
        border-color var(--time) var(--cubic);
    &:focus{
        border-color: var(--accent);
    }
}

.form-user{
    padding: 9px 10px 9px 30px;
    
        @include mobile {
            height: 40px;
            padding: 11px 12px 11px 42px;
        }
}


.modal-feedback {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    &:nth-of-type(4n) {
            margin-bottom: 20px;
        }
}


.feedback {
    display: block;
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    // margin-bottom: 20px;
    padding: 12px 16px;
    color: var(--secondary-text-color);
    outline: transparent;
    font-size: 12px;
    line-height: calc(14/12);
    // resize: none;
    transition:
        color var(--time) var(--cubic),
        border-color var(--time) var(--cubic);
        &:focus,
        &:hover {
    border-color: var(--accent);
    @include mobile {
            height: 120px;
}
        &::placeholder {
            font-size: 14px;
            line-height: calc(16/14);
            letter-spacing: 0.01em;
            color: rgba(117, 117, 117, 0.5);

            @include desktop {
                font-size: 12px;
                    line-height: calc(14/12);
                    letter-spacing: 0.01em;
                    color: rgba(117, 117, 117, 0.5);
            }

}
}
}


.policy-label {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    // margin-bottom: 30px;
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
    margin-bottom: 10px;
        @include mobile {
                margin-bottom: 30px;
            }
}

.policy-text{
    font-size: 12px;
        line-height: calc(14 / 12);
        letter-spacing: 0.03em;
        color: var(--secondary-text-color);

        @include desktop {
            font-size: 14px;
            line-height: calc(24/14);
            letter-spacing: 0.03em;
            color: var(--secondary-text-color);
            }
}


.policy-icon {
    fill: var(--white);
    border: 2px solid #212121;
    border-radius: 2px;
    transition: border-color var(--time) var(--cubic),
        background-color var(--time) var(--cubic);
    .policy-checkbox:checked+& {
    border-color: transparent;
    background-color: var(--accent);
    }
}

.policy-link {
    position: relative;
    font-weight: 400;
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.03em;
    color: var(--accent);
    @include mobile {
            text-decoration: none;
        }
    
        @include desktop {
        font-weight: 400;
            font-size: 14px;
            line-height: calc(24 / 14);
            letter-spacing: 0.03em;
        }
        &::after {
    content: " ";
    position: absolute;
    bottom: 5px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--accent);
}

}


.send-btn {
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30/16);
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--white);
    width: 200px;
    height: 50px;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    padding: 10px 52px;
    transition:
        background-color var(--time) var(--cubic);
    &:hover,
    &:focus {
    background: var(--btn-hover);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
}
