body {
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
    background-color: var(--white);
    color: var(--main-text-color);
}

.section {
    padding: 94px 0;
}

.link {
    text-decoration: none;
}