:root {
    --main-text-color: #212121;
    --secondary-text-color: #757575;
    --accent: #2196F3;
    --btn-hover: #188CE8;
    --white: #ffffff;
    --black: #000000;
    --team-section-color: #F5F4FA;
    --section-color: #2F303A;
    --btn-color: #F5F4FA;
    --footer-background-color: #2F303A;
    --border-project-color: #EEEEEE;
    --border-header: #ECECEC;
    --soc-link-team: #AFB1B8;
    --aside-bck-color: #2F303A;
    --time: 250ms;
    --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}