.about__container {
    display: flex;
}

.about {
    padding: 94px 0;
}

.menu-list {
    display: flex;
    gap: 30px;
}

.menu-list__item {
    flex-basis: calc((100% - 90px) / 4);
    &::before {
    display: block;
    content: "";
    width: 270px;
    height: 120px;
    background-size: 70px 70px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #F5F4FA;
    margin-bottom: 30px;
    border-radius: 4px;
}
}



.icon-antena::before {
    background-image: url(../images/antena.svg);
}

.icon-clock::before {
    background-image: url(../images/clock.svg);
}

.icon-diagrama::before {
    background-image: url(../images/diagram.svg);
}

.icon-astronaut::before {
    background-image: url(../images/astronaut.svg);
}