.about__container {
    display: flex;
}

.about {
    // padding: 94px 0;
    // padding-top: 60px;
    //     padding-bottom: 60px;
    
    //     @media screen and (min-width: 1200px) {
    //         padding-top: 94px;
    //         padding-bottom: 94px;
    //     }
}

.menu-list {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.menu-list__item {
    width: 100%;
    // flex-basis: calc((100% - 90px) / 4);

    @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 30px) / 2);
}

    @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 90px) / 4);
}
}

.image {
    max-width: 450px;
    width: 100%;
    height: 120px;
    background-color: var(--team-section-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;

    @include tablet{
        max-width: 354px;
        height: 120px;

    }

    @include desktop{
        max-width: 270px;
        height: 120px;
    }

}

.icon {
    display: block;
    width: 70px;
    height: 70px;
}

