.clients-list {
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
}

.clients-list-item {
    flex-basis: calc((100% - 30px) / 2);
    // width: 100%;
    @include tablet {
            max-width: calc((100% - 60px) / 3);
        }
    
        @include desktop {
            max-width: calc((100% - 150px) / 6);
        }
}

.clients-link {
    display: flex;
    align-items: center;
    color: #AFB1B8;
    width: 210px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    padding: 16px 52px;
    transition: border-color var(--time) var(--cubic),
        fill var(--time) var(--cubic);
    &:hover,
    &:focus {
    border-color: var(--accent);
    color: var(--accent);
}
    @include tablet {
         width: 226px;
        height: 92px;
        padding: 16px 60px;
}

        @include desktop {
            width: 170px;
            height: 92px;
            padding: 16px 32px;
}
}

.clients-icon {
    fill: currentColor;
}

