.clients-list {
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
}

.clients-list-item {
    width: 100%;
    flex-basis: calc((100% - 30px) / 6);
}

.clients-link {
    display: flex;
    align-items: center;
    color: #AFB1B8;
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    padding: 16px 32px;
    transition: border-color var(--time) var(--cubic),
        fill var(--time) var(--cubic);
    &:hover,
    &:focus {
    border-color: var(--accent);
    color: var(--accent);
}
}

.clients-icon {
    fill: currentColor;
}

