.footer {
    background: var(--footer-background-color);
    background: var(--section-color);
    margin: 0 auto;
    padding: 60px 0;
}

.logo-footer-link {
    font-weight: 700;
        font-size: 24px;
        line-height: calc(28/24);
    letter-spacing: 0.03em;
    color: var(--white);
    // margin-top: 10px;
    margin-bottom: 20px;
    display: block;
        @include tablet {
                margin-bottom: 20px;
            }

        @include desktop{
            font-size: 26px;
            line-height: calc(31/26);
        }


}

.address-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
     
    @include tablet{
        gap: 8px;
    }

    @include desktop{
        align-items: flex-start;
            gap: 9px;
    }
 
    
}

// .address-list-item:not(:last-child) {
//     margin-bottom: 9px;
// }

.address-link {
    font-style: normal;
    font-size: 14px;
    line-height: calc(24/14);
    letter-spacing: 0.03em;
    color: var(--white);
    transition:
        background-color var(--time) var(--cubic);
    &:hover,
    &:focus{
    color: var(--accent);
}
}

.contact-link {
    font-size: 14px;
    line-height: calc(24/14);
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    transition: background-color var(--time) var(--cubic);
    &:hover,
    &:focus {
            color: var(--accent);
        }
}

.footer-inner{
        display: flex;
            flex-direction: column;
            gap: 60px;
            margin-bottom: 60px;
            justify-content: center;
            align-items: center;

        @include tablet {
                flex-direction: row;
                text-align: left;
                gap: 165px;
                align-items: baseline;
            }
        
            @include desktop {
                gap: 70px;
                margin-right: 93px;
                margin-bottom: 0;
            }
}

.footer-container{
    text-align: center;
    @include tablet {
            text-align: center;
        }
    
        @include desktop {
            width: 231px;
            text-align: left;
        }
}

.footer {
    display: flex;
    // align-items: baseline;
    // justify-content: space-between;
    flex-wrap: wrap;

}

.footer-field{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @include tablet {
            align-items: baseline;
        }
    
        @include desktop {
            flex-wrap: nowrap;
            justify-content: space-between;
        }
}



.footer-social-container {
    // margin-left: 70px;
    // margin-top: 72;
    // margin-right: 93px;
    display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    @include desktop {
            align-items: flex-start;
        }
}

.part-footer {
    display: flex;
}

.footer-title {
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white);
    // margin-bottom: 20px;
}

.footer-social-list {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;


}

.footer-list-item {
    width: 44px;
    height: 44px;
}

.footer-social-link {
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    align-items: center;
    color: var(--white);
    justify-content: center;
    text-decoration: none;
    transition:
        background-color var(--time) var(--cubic);
    &:hover,
    &:focus {
    background-color: var(--accent);
}
}

.team-social-icon {
    fill: currentColor;
}

// підпишіться

.footer-subscribe-container{
    width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @include desktop {
                display: flex;
                align-items: flex-start;
            }
}

.subscribe-form {
    width: 100%;
    max-width: 570px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

        @include desktop {
                flex-direction: row;
                gap: 12px;
            }

}

.footer-input {
    width: 100%;
    max-width: 450px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    display: block;
    background-color: transparent;
    font-size: 14px;
    color: var(--secondary-text-color);
    outline: transparent;
    padding-left: 16px;

    @include tablet{
        max-width: 450px;
    }

    @include desktop{
        margin-top: 20px;
        max-width: 358px;
    }

}


.subscribe-btn {
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30/16);
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--white);
    width: 200px;
    height: 50px;
    background: var(--accent);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    padding: 10px 28px;
    margin-left: 12px;
    transition: background-color var(--time) var(--cubic);
    &:hover {
    background-color: var(--btn-hover);
}
}

.subscribe-icon {
    fill: currentColor;
    margin-left: 10px; 
}

