.hero{
    height: 400px;
    background-color: var(--section-color);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url('../images/hero-bg-mob.jpg');
    background-repeat: no-repeat;
    background-color: #C4C4C4;
    background-position: center;
    text-align: center;
    padding: 118px 0;
    background-size: cover;
    max-width: 100%;
    margin: 0;
    @include retina {
            background-color: var(--section-color);
                background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                        rgba(47, 48, 58, 0.4)),
                    url('../images/hero-bg-mob-2x.jpg');
        }

    @include mobile{
        background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)),
            url('../images/hero-bg-tab.jpg');
            @include retina{
                background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                            rgba(47, 48, 58, 0.4)),
                        url('../images/hero-bg-tab-2x.jpg');
            }
    }

        @include tablet {
        height: 400px;
        padding: 118px 204px;
        // max-width: 768px;
        background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)),
                url('../images/hero.jpg');
                @include retina{
                    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                                rgba(47, 48, 58, 0.4)),
                            url('../images/hero-2x.jpg');
                }
    }

            @include desktop {
                height: 600px;
                padding: 200px 0;
                max-width: 1600px;
    }

}

.hero__title {
    max-width: 360px;
    margin: 0 auto 30px auto;
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 26px;
    line-height: calc(42/26);
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white);

    @include tablet {
            max-width: 360px;
            font-size: 26px;
            line-height: calc(42/26);

        }
    
        @include desktop {
            max-width: 696px;
            font-size: 44px;
            line-height: calc(60/44);
        }
}

.hero__btn {
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30/16);
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    background-color: var(--accent);
    border-radius: 4px;
    border: none;
    color: var(--white);
    padding: 10px 24px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition:
        background-color var(--time) var(--cubic);
    &:hover,
    &:focus {
    background-color: var(--btn-hover);
}

            @include desktop {
                padding: 10px 32px;
            }


}

