.team {
    background: var(--team-section-color);
}

.team-list {
    display: flex;
    gap: 30px;
    flex-wrap: flex;
}

.team-item {
    // flex-basis: calc((100% - 90px) / 4);
    width: 100%;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    @media screen and (min-width: 768px) {
          width: calc((100% - 30px) / 2) ;
        }
}

.team-project {
    background: var(--white);
    border-radius: 0px 0px 4px 4px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.team-item-title {
    font-weight: 500;
    font-size: 16px;
    line-height: calc(19/16);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
    margin-bottom: 10px;
}

.team-item-sutitle {
    font-size: 16px;
    line-height: calc(19/16);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
    margin-bottom: 16px;
}

.team-social-list {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.social-list-item {
    width: 44px;
    height: 44px;
}

.social-list-link {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: var(--white);
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: inherit;
    color: var(--soc-link-team);
    transition: background-color var(--time) var(--cubic),
        color var(--time) var(--cubic);
    &:hover,
    &:focus {
    background-color: var(--accent);
    color: var(--white);
}
}

.team-social-icon {
    fill: currentColor;
}

